body {
    background-color: black;
    color: #ffffff;
}

div {
    /*background-color: red;*/
    /*display: block;*/
}

ul {
    list-style-type: none;
}

.right {
    float: right;
}

#header-container {
    /*margin: auto;*/
    /*background: red repeat scroll 0 0 #000;*/
    background: green;
    border-bottom: 1px solid #112a04;
    border-top: 10px solid #000;
    height: 200px;
    padding-bottom: 30px;
    position: relative;
    width: 100%;
    z-index: 20;
}

.header-section {
}

#header {
}

.title-container {
}

.title {
    color: #b4b405;
    font-size: 60px;
    font-weight: bold;
    letter-spacing: -0.5px;
    line-height: 0;
    margin: 0;
    padding: 50px 0;
    text-transform: uppercase;
}

.description-container {
}

.description {
}

#nav-container {
    border-bottom: 2px solid red;
    margin-top: 0;
    position: relative;
    width: 100%;
}

.menus {
    /*list-style-type: none;*/
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #b4b405;
}


    .menus li {
        float: left;       
    }

    /*Begin stlying for all list items, hover effects etc*/ 
   li a, .dropbtn {
        display:inline-block;
        color: white;
        text-align: center;
         padding: 14px 16px;
        text-decoration: none;
    }
   li a:hover, .dropdown:hover .dropbtn {
        background-color: red; 
    }
   li.dropdown {
        display: inline-block;
    }
    .dropdown-content{
         display: none;
    position: absolute;
    background-color: #b4b405;
    min-width: 100%;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    }   
    .dropdown-content a {
    color: #ffffff;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: center;
}

.dropdown-content a:hover {
    background-color: red;
}

.dropdown:hover .dropdown-content {
    display: block;
}
    /*End stlying for all list items, hover effects etc*/ 


#content-container {
    /*background: none repeat scroll 0 0 #000;*/
    float: left;
    margin-top: 15px;
    width: 100%;
}

#main-container {
    float: left;
    margin: 50px 0 0 1px;
    max-width: 67%;
    padding: 20px;
    width: 100%;
    background-color: red;
}

#side-container {
    background: none repeat scroll 0 0 red;
    float: right;
    margin: 50px 0 0;
    /*overflow: hidden;*/
    padding: 20px 0 0;
    width: 25.7%;
}

#archive {
}

#footer-container {
}

/*#header-wrapper-rec {
    background: none repeat scroll 0 0 #000;
    border-bottom: 1px solid #fff;
    border-top: 10px solid #000;
    height: 200px;
    padding-bottom: 30px;
    position: relative;
    width: 100%;
    z-index: 20;
}*/

/*#menur {
    background: none repeat scroll 0 0 #000;
    border-bottom: 2px solid #fff;
    margin-top: 0;
    position: relative;
    width: 100%;
}*/


/*#content-wrapper {
    background: none repeat scroll 0 0 #000;
    float: left;
    margin-top: 15px;
    width: 100%;
}*/

/*#main-wrapper {
    float: right;
    margin: 30px 0 0 1px;
    max-width: 67%;
    padding: 20px;
    width: 100%;
}*/


/*#rsidebar-wrapper {
    background: none repeat scroll 0 0 #fff;
    float: left;
    margin: 50px 0 0;
    overflow: hidden;
    padding: 20px 0 0;
    width: 25.7%;
}*/

